## Gradle:
.gradle/
gradle-app.setting
/build/
/framework/build/
/server-framework/build/
/game*/android/build/
/game*/taptap/build/
/game*/pico4/build/
/game*/core/build/
/game*/lwjgl2/build/
/game*/lwjgl3/build/
/game*/html/build/
/game*/ios/build/
/game*/ios-moe/build/
/game*/headless/build/
/game*/server/build/
/game*/shared/build/

## Java:
*.class
*.war
*.ear
hs_err_pid*
.attach_pid*

## Android:
/game*/android/libs/armeabi-v7a/
/game*/android/libs/arm64-v8a/
/game*/android/libs/x86/
/game*/android/libs/x86_64/
/game*/android/gen/
/game*/android/out/
local.properties
com_crashlytics_export_strings.xml

## pico4:
/game*/pico4/libs/armeabi-v7a/
/game*/pico4/libs/arm64-v8a/
/game*/pico4/libs/x86/
/game*/pico4/libs/x86_64/
/game*/pico4/gen/
/game*/pico4/out/

## Taptap:
/game*/taptap/libs/armeabi-v7a/
/game*/taptap/libs/arm64-v8a/
/game*/taptap/libs/x86/
/game*/taptap/libs/x86_64/
/game*/taptap/gen/
/game*/taptap/out/

*.jks
*.p12
*/signing.properties
/game*/android/release
/game*/taptap/release
/game*/pico4/release

## Robovm:
/ios/robovm-build/

## iOS:
/game*/ios/xcode/*.xcodeproj/*
!/game*/ios/xcode/*.xcodeproj/xcshareddata
!/game*/ios/xcode/*.xcodeproj/project.pbxproj
/game*/ios/xcode/native/
/game*/ios/IOSLauncher.app
/game*/ios/IOSLauncher.app.dSYM

## GWT:
/game*/html/war/
/game*/html/gwt-unitCache/
.apt_generated/
/game*/html/war/WEB-INF/deploy/
/game*/html/war/WEB-INF/classes/
.gwt/
gwt-unitCache/
www-test/
.gwt-tmp/

## IntelliJ, Android Studio:
.idea/
*.ipr
*.iws
*.iml

## Eclipse:
.classpath
.project
.metadata/
/framework/bin/
/server-framework/bin/
/game*/android/bin/
/game*/taptap/bin/
/game*/pico4/bin/
/game*/core/bin/
/game*/lwjgl2/bin/
/game*/lwjgl3/bin/
/game*/html/bin/
/game*/ios/bin/
/game*/ios-moe/bin/
/game*/headless/bin/
/game*/server/bin/
/game*/shared/bin/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders/
*.launch


## NetBeans:

/nbproject/private/
/framework/nbproject/private/
/server-framework/nbproject/private/
/game*/nbproject/private/
/game*/android/nbproject/private/
/game*/taptap/nbproject/private/
/game*/pcio4/nbproject/private/
/game*/core/nbproject/private/
/game*/lwjgl2/nbproject/private/
/game*/lwjgl3/nbproject/private/
/game*/html/nbproject/private/
/game*/ios/nbproject/private/
/game*/ios-moe/nbproject/private/
/game*/headless/nbproject/private/
/game*/server/nbproject/private/
/game*/shared/nbproject/private/

/game*/nbbuild/
/framework/nbbuild/
/server-framework/nbbuild/
/game*/android/nbbuild/
/game*/taptap/nbbuild/
/game*/pico4/nbbuild/
/game*/core/nbbuild/
/game*/lwjgl2/nbbuild/
/game*/lwjgl3/nbbuild/
/game*/html/nbbuild/
/game*/ios/nbbuild/
/game*/ios-moe/nbbuild/
/game*/headless/nbbuild/
/game*/server/nbbuild/
/game*/shared/nbbuild/

/dist/
/framework/dist/
/server-framework/dist/
/game*/dist/
/game*/android/dist/
/game*/taptap/dist/
/game*/pico4/dist/
/game*/core/dist/
/game*/lwjgl2/dist/
/game*/lwjgl3/dist/
/game*/html/dist/
/game*/ios/dist/
/game*/ios-moe/dist/
/game*/headless/dist/
/game*/server/dist/
/game*/shared/dist/

/nbdist/
/framework/nbdist/
/server-framework/nbdist/
/game*/nbdist/
/game*/android/nbdist/
/game*/taptap/nbdist/
/game*/pico4/nbdist/
/game*/core/nbdist/
/game*/lwjgl2/nbdist/
/game*/lwjgl3/nbdist/
/game*/html/nbdist/
/game*/ios/nbdist/
/game*/ios-moe/nbdist/
/game*/headless/nbdist/
/game*/server/nbdist/
/game*/shared/nbdist/

nbactions.xml
nb-configuration.xml

## OS-Specific:
.DS_Store
Thumbs.db

## Miscellaneous:
*~
*.*#
*#*#

/fontOut/
/data/

## TODO
/game*/assets/vector/*.tvgt
/game*/assets/vector/*.tga
/game*/assets/vector/*.svg

/*.jar

.VSCodeCounter/