## Gradle:
.gradle/
gradle-app.setting
/build/
/framework/build/
/server-framework/build/
/game*/build/
/game*/game*-android/build/
/game*/game*-taptap/build/
/game*/game*-pico4/build/
/game*/game*-core/build/
/game*/game*-lwjgl2/build/
/game*/game*-lwjgl3/build/
/game*/game*-html/build/
/game*/game*-ios/build/
/game*/game*-ios-moe/build/
/game*/game*-headless/build/
/game*/game*-server/build/
/game*/game*-shared/build/

/framework*/framework*-*/build/

## Java:
*.class
*.war
*.ear
hs_err_pid*
.attach_pid*

## Android:
/game*/game*-android/libs/armeabi-v7a/
/game*/game*-android/libs/arm64-v8a/
/game*/game*-android/libs/x86/
/game*/game*-android/libs/x86_64/
/game*/game*-android/gen/
/game*/game*-android/out/
local.properties
com_crashlytics_export_strings.xml

## pico4:
/game*/game*-pico4/libs/armeabi-v7a/
/game*/game*-pico4/libs/arm64-v8a/
/game*/game*-pico4/libs/x86/
/game*/game*-pico4/libs/x86_64/
/game*/game*-pico4/gen/
/game*/game*-pico4/out/

/game*/game*-pico4/.cxx

## Taptap:
/game*/game*-taptap/libs/armeabi-v7a/
/game*/game*-taptap/libs/arm64-v8a/
/game*/game*-taptap/libs/x86/
/game*/game*-taptap/libs/x86_64/
/game*/game*-taptap/gen/
/game*/game*-taptap/out/

*.jks
*.p12
**/signing.properties
/game*/game*-android/release
/game*/game*-taptap/release
/game*/game*-pico4/release

## Robovm:
/ios/robovm-build/

## iOS:
/game*/game*-ios/xcode/*.xcodeproj/*
!/game*/game*-ios/xcode/*.xcodeproj/xcshareddata
!/game*/game*-ios/xcode/*.xcodeproj/project.pbxproj
/game*/game*-ios/xcode/native/
/game*/game*-ios/IOSLauncher.app
/game*/game*-ios/IOSLauncher.app.dSYM

## GWT:
/game*/game*-html/war/
/game*/game*-html/gwt-unitCache/
.apt_generated/
/game*/game*-html/war/WEB-INF/deploy/
/game*/game*-html/war/WEB-INF/classes/
.gwt/
gwt-unitCache/
www-test/
.gwt-tmp/

## IntelliJ, Android Studio:
.idea/
*.ipr
*.iws
*.iml

.run/

## Eclipse:
.classpath
.project
.metadata/
/framework/bin/
/server-framework/bin/
/game*/game*-android/bin/
/game*/game*-taptap/bin/
/game*/game*-pico4/bin/
/game*/game*-core/bin/
/game*/game*-lwjgl2/bin/
/game*/game*-lwjgl3/bin/
/game*/game*-html/bin/
/game*/game*-ios/bin/
/game*/game*-ios-moe/bin/
/game*/game*-headless/bin/
/game*/game*-server/bin/
/game*/game*-shared/bin/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders/
*.launch

/framework*/framework*-*/bin/

## NetBeans:

/nbproject/private/
/framework/nbproject/private/
/server-framework/nbproject/private/
/game*/nbproject/private/
/game*/game*-android/nbproject/private/
/game*/game*-taptap/nbproject/private/
/game*/game*-pcio4/nbproject/private/
/game*/game*-core/nbproject/private/
/game*/game*-lwjgl2/nbproject/private/
/game*/game*-lwjgl3/nbproject/private/
/game*/game*-html/nbproject/private/
/game*/game*-ios/nbproject/private/
/game*/game*-ios-moe/nbproject/private/
/game*/game*-headless/nbproject/private/
/game*/game*-server/nbproject/private/
/game*/game*-shared/nbproject/private/

/framework*/framework*-*/nbproject/private/

/game*/nbbuild/
/framework/nbbuild/
/server-framework/nbbuild/
/game*/game*-android/nbbuild/
/game*/game*-taptap/nbbuild/
/game*/game*-pico4/nbbuild/
/game*/game*-core/nbbuild/
/game*/game*-lwjgl2/nbbuild/
/game*/game*-lwjgl3/nbbuild/
/game*/game*-html/nbbuild/
/game*/game*-ios/nbbuild/
/game*/game*-ios-moe/nbbuild/
/game*/game*-headless/nbbuild/
/game*/game*-server/nbbuild/
/game*/game*-shared/nbbuild/

/framework*/framework*-*/nbbuild/

/dist/
/framework/dist/
/server-framework/dist/
/game*/dist/
/game*/game*-android/dist/
/game*/game*-taptap/dist/
/game*/game*-pico4/dist/
/game*/game*-core/dist/
/game*/game*-lwjgl2/dist/
/game*/game*-lwjgl3/dist/
/game*/game*-html/dist/
/game*/game*-ios/dist/
/game*/game*-ios-moe/dist/
/game*/game*-headless/dist/
/game*/game*-server/dist/
/game*/game*-shared/dist/

/framework*/framework*-*/dist/

/nbdist/
/framework/nbdist/
/server-framework/nbdist/
/game*/nbdist/
/game*/game*-android/nbdist/
/game*/game*-taptap/nbdist/
/game*/game*-pico4/nbdist/
/game*/game*-core/nbdist/
/game*/game*-lwjgl2/nbdist/
/game*/game*-lwjgl3/nbdist/
/game*/game*-html/nbdist/
/game*/game*-ios/nbdist/
/game*/game*-ios-moe/nbdist/
/game*/game*-headless/nbdist/
/game*/game*-server/nbdist/
/game*/game*-shared/nbdist/

/framework*/framework*-*/nbdist/

nbactions.xml
nb-configuration.xml

## OS-Specific:
.DS_Store
Thumbs.db

## Miscellaneous:
*~
*.*#
*#*#

/fontOut/
/data/
/game*/data/

## TODO
/game*/assets/vector/*.tvgt
/game*/assets/vector/*.tga
/game*/assets/vector/*.svg

/assets/vector/*.tvgt
/assets/vector/*.tga
/assets/vector/*.svg

/*.jar

.VSCodeCounter/
.vscode/

game0006/assets/music/midi/

.androidide
